%ul
- obj.each do |question|
    %li
        = link_to truncate( question.body, length: 35 ), question
        by
        = question.user.username
        - if are_u_on_yr_questions_page?
            = link_to 'Edit', edit_question_path(question), class: "label label-info"

